.logs-table {
  > .title {
    border-top: 1px solid var(--surface-border);
  }

  .p-datatable {
    thead tr th {
      background-color: var(--surface-1) !important;
    }

    .warn {
      background-color: var(--orange-700);
    }

    .error {
      background-color: var(--red-700);
    }

    .log-message {
      word-break: break-all;
    }
  }
}

.panel > .wavefront-sensors {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .p-button {
    margin: 0;
    width: 100%;
    justify-content: center;
    padding: 2px;
    font-size: 0.8rem;
  }

  .p-inputswitch {
    height: 20px;
    align-self: center;
  }

  button.p-component.p-button {
    margin-right: 0;
  }

  .p-inputtext {
    width: 100%;
  }

  > .title {
    flex-shrink: 1;
  }

  > .body {
    flex: 1 0 auto;
    max-height: calc(100% - 20px);
    display: flex;
    flex-direction: column;

    > .top {
      display: flex;
      flex-direction: row;
      border-top: 1px solid var(--surface-border);

      > .main-controls {
        flex: 1 1 auto;
        min-width: 0;
        border-right: 1px solid var(--surface-border);
        display: flex;
        flex-direction: column;

        .handset {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .correction-table {
            width: 100%;

            table {
              width: 100%;
              border-collapse: collapse;
              margin-bottom: 6px;

              .center-cell {
                text-align: center;
              }
            }

            .p-button {
              padding: 5px;
            }
          }

          .selector-group {
            display: grid;

            label {
              align-self: center;
            }

            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 8px 0;
          }

          .input-divider {
            align-self: normal;
          }

          .coordinates-input-row {
            justify-content: space-around;

            .p-divider {
              margin-left: 0;
              margin-right: 0;
            }
          }

          .manual-input {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto;
            align-items: center;
            gap: 8px;

            .apply-button {
              width: 100%;
              padding: 5px;
              grid-column: 1 / span 2;
            }
          }

          .coordinates-input {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 6px;

            .coordinates-buttons {
              display: grid;
              grid-auto-columns: 26px;
              grid-auto-rows: 26px;
              grid-template-areas:
                'gul gu gur'
                'gl gm gr'
                'gdl gd gdr';
            }

            .coordinates-stepsize {
              display: flex;
              align-items: center;
              gap: 16px;
              flex-direction: column;
              margin-bottom: 16px;

              > .p-slider {
                width: 100%;
              }
            }
          }

          .control-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;

            .p-button {
              padding: 5px;
            }
          }

          .control-row.buttons .p-button {
            width: auto;
            padding-left: 8px;
            padding-right: 8px;
          }
        }
      }

      > .sensors {
        flex: 0 0 200px;
        display: flex;
        flex-direction: column;

        > .wfs {
          border-bottom: 1px solid var(--surface-border);
          position: relative;

          > .wfs-name {
            display: block;
            padding: 2px 4px 0;
            color: var(--primary-color-text);
            font-weight: bold;
          }

          > .controls {
            display: grid;
            grid-template-areas:
              'g11 g12 g13 g14'
              'g21 g21 g22 g22';
            grid-template-columns: 32px 1fr 32px 40px;
            grid-auto-rows: 26px;
            gap: 2px 4px;
            place-items: center center;
            padding: 2px 4px;

            .save-inputs {
              grid-area: g21;
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: flex-start;
              gap: 4px;
            }

            .ql-inputs {
              grid-area: g22;
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: flex-start;
              gap: 4px;

              .p-dropdown {
                flex: 1 1 auto;
              }
            }
          }

          &.ac > .controls {
            grid-template-areas: 'g11 g12 g13 g14';
          }
        }
      }
    }

    > .light-path {
      flex-shrink: 1;
      border-top: 1px solid var(--surface-border);

      > .body {
        padding: 4px;
        display: grid;
        gap: 4px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 22px);
      }
    }

    > .wfs-mechs {
      flex-shrink: 1;
      border-top: 1px solid var(--surface-border);

      > .body > .p-tabview {
        ul li {
          flex-grow: 1;

          a {
            padding: 4px;
            font-size: 0.9rem;
            display: block;
            width: 100%;
            text-align: center;
          }
        }

        .p-tabview-panels {
          padding: 4px;

          .pwfs {
            display: grid;
            font-size: 0.9rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(2, auto);
            align-items: center;
            gap: 8px;
          }

          .achr {
            display: grid;
            font-size: 0.9rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, auto);
            gap: 8px;
            align-items: center;

            .window-size {
              display: flex;
              flex-direction: column;
              gap: 4px;

              .window-size-inputs {
                display: flex;
                flex-direction: row;
                gap: 8px;
                align-items: center;

                .p-inputnumber {
                  max-width: 48px;

                  input {
                    padding-top: 2px;
                    padding-bottom: 2px;
                  }
                }
              }
            }
          }

          .moving-label {
            font-size: 0.8rem;
          }
        }
      }
    }

    > .logs-table {
      max-height: 100%;
      overflow-y: auto;
    }
  }
}

@media only screen and (width <= 1250px) {
  .panel > .wavefront-sensors > .body > .top > .sensors {
    flex: 0 0 42%;
    min-width: 200px;
  }
}
